.jumbotron {
  height: 350px;

  @media (max-width: $screen-xs-max) {
    height: 275px;
  }

  h1 {
    display: inline-block;
    cursor: default;
  }
  a {
    color: inherit;
    font-size: ceil(($font-size-base * 2.5));
    text-decoration: none;
  }
}
