<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container text-center">
    <h1>limcross</h1>
    <p>coding the future</p>
    <p>
      <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-fw fa-github"></i></a>
      <a href="https://cl.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-fw fa-linkedin-square"></i></a>
      <a href="mailto:{{ site.email }}"><i class="fa fa-fw fa-envelope"></i></a>
    </p>
  </div>
</div>
