<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container text-center m-t">
    <a href="/" class="h1 swap swap-display text-3d">
      <span class="swap-element-shown">limcross</span>
      <span class="swap-element-hidden">Sebastián</span>
    </a>
    <p class="lead m-t">
      <span class="swap swap-display">
        <span class="swap-element-shown">Hello world!</span>
        <span class="swap-element-hidden"><code>puts 'Hello world!'</code></span>
      </span>
    </p>
    <p>
      <a href="https://github.com/{{ site.github_username }}" class="swap swap-display">
        <span class="swap-element-shown">
          <i class="fa fa-fw fa-github"></i>
        </span>
        <span class="swap-element-hidden">
          <span class="fa-stack" style="color: #fff;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-fw fa-github fa-stack-1x" style="color: #000;"></i>
          </span>
        </span>
      </a>
      <a href="https://cl.linkedin.com/in/{{ site.linkedin_username }}" class="swap swap-display">
        <span class="swap-element-shown">
          <i class="fa fa-fw fa-linkedin-square"></i>
        </span>
        <span class="swap-element-hidden">
          <span class="fa-stack" style="color: #fff;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-fw fa-linkedin-square fa-stack-1x" style="color: #1b86bc;"></i>
          </span>
        </span>
      </a>
      <a href="mailto:{{ site.email }}" class="swap swap-display">
        <span class="swap-element-shown">
          <i class="fa fa-fw fa-envelope"></i>
        </span>
        <span class="swap-element-hidden">
          <span class="fa-stack" style="color: #D84A38;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-fw fa-envelope fa-stack-1x" style="color: #f1f1f1;"></i>
          </span>
        </span>
      </a>
    </p>
  </div>
</div>
